header {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100px;
    /* Ajuste a altura conforme necessário */
    background-color: "white";
    /* Cor de fundo opcional */
}

img {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura do cabeçalho */
    max-height: 100px;
    /* Define a altura máxima da imagem */
}